/* You can add global styles to this file, and also import other style files */

@import 'app.css';

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'arial', sans-serif;    
  }
  html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background: #7cd3ee;
    background: -moz-linear-gradient(top, #7cd3ee 0%, #e6f6fc 58%, #f1fafd 64%, #f3fbfd 70%, #ffffff 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #7cd3ee), color-stop(58%, #e6f6fc), color-stop(64%, #f1fafd), color-stop(70%, #f3fbfd), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #7cd3ee 0%, #e6f6fc 58%, #f1fafd 64%, #f3fbfd 70%, #ffffff 100%);
    background: -o-linear-gradient(top, #7cd3ee 0%, #e6f6fc 58%, #f1fafd 64%, #f3fbfd 70%, #ffffff 100%);
    background: -ms-linear-gradient(top, #7cd3ee 0%, #e6f6fc 58%, #f1fafd 64%, #f3fbfd 70%, #ffffff 100%);
    background: linear-gradient(to bottom, #7cd3ee 0%, #e6f6fc 58%, #f1fafd 64%, #f3fbfd 70%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cd3ee', endColorstr='#ffffff', GradientType=0 );
  }

  header, footer, .container {
    background: #EFF4F9;
  }
  