<div class='border-top container p-2'>
  <form novalidate [formGroup]="csvParserForm"
    (ngSubmit)="onSubmit()">
    <fieldset>
      <div class="form-group">      
        <label>Input String (CSV)</label>
        <input type="text" class="form-control border" [formControl]="inputString" [ngClass]="{
          'border-primary': inputString.invalid,
          'border-success': inputString.valid && inputString.touched,
          'border-danger': inputString.hasError('validateFormat')
        }">
      </div>
      <div class="pb-2">
        In-Valid formats :<br/>
          String ending with colon. (e.g a=b:)<br/>
          String has consecutive colon and equal sign. (e.g a=b:=)<br/>
      </div>    
    </fieldset>
    <button type="submit" [disabled] = "!csvParserForm.valid" class="btn btn-primary" >Submit</button>
  </form>
  <div class="title m-2">Parsed CSV String to [Key - Value] pair</div>
  <div class="card card-body m-2">
    <pre>{{parsedJSON | json}}</pre>
  </div>
  
</div>
